<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

<div class="container" id="main-container">
  <div class="bgVideo">
    <video id="myVideo" oncanplay="this.play()" loop onloadedmetadata="this.muted=true" playsinline poster="../assets/video/bg-video.mp4">
      <source src="../assets/video/bg-video.mp4" type="video/mp4">
    </video>

    <div class="header">
      <img src="../assets/img/marca_Agro_Valora_OFICIAL-03.png">
      <p>A plataforma de valoração rural que faltava</p>
    </div>

    <div class="btn-login">
      <p>Experimente</p>
      <div class="round">
        <div id="cta">
          <a href="https://agrovalora.com.br/login" target="_blank" class="arrow primera next "></a>
          <a href="https://agrovalora.com.br/login" target="_blank" class="arrow segunda next "></a>
        </div>
      </div>
    </div>

    <div class="mouse_scroll" [ngClass]="{'fade-out': isScrolled, 'fade-in': !isScrolled}">
      <div class="mouse-container">
        <div class="mouse">
          <div class="wheel"></div>
        </div>
        <div>
          <span class="m_scroll_arrows unu"></span>
          <span class="m_scroll_arrows doi"></span>
          <span class="m_scroll_arrows trei"></span>
        </div>
      </div>
    </div>
  </div>

    <div class="wrapper">
      <section class="section section--large">
        Part One
      </section>
      <section class="section section--small">
        Part Two
      </section>
      <section class="section section--small">
        Part Three
      </section>
      <section class="section section--large">
        Part Four
      </section>
    </div>

    <div class="center-marker"></div>

    <div class="client">
      <div class="bgImg">
      <img class="logo-santander" src="../assets/img/santander-logo.png">
      <p>Confiado por um dos times mais invoadores do Brasil</p>
    </div>
  </div>

    <div class="footer">
      <div id="footer-button"></div>
        <div id="footer-container">
          <div id="cont">
            <div class="footer_elements">
              <div class="visit">
                <h5>Visite a Agroconsult</h5>
                <div class="icons">
                  <img src="../assets/icons/instagram.svg">
                  <img src="../assets/icons/facebook.svg">
                  <img src="../assets/icons/linkedin.svg">
                  <img src="../assets/icons/twitter.svg">
                  <img src="../assets/icons/mail.svg">

                  <!-- <i class="fab fa-facebook-f fa-2x" style="color: #3b5998;"></i>
                  <i class="fab fa-twitter fa-2x" style="color: #55acee;"></i>
                  <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
                  <i class="fab fa-linkedin-in fa-2x" style="color: #0082ca;"></i> -->
                </div>
              </div>
              <h3>© Copyright Agroconsult | Todos os direitos reservados.</h3>
            </div>
        </div>
      </div>
    </div>

</div>

