<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container" id="main-container">
  <div class="bgVideo">
    <video autoplay muted loop id="myVideo">
      <source src="../assets/img/bg-video.mp4">
    </video>

    <div class="header">
      <img src="../assets/img/marca_Agro_Valora_OFICIAL-03.png">
      <p>A plataforma de valoração rural que faltava</p>
    </div>

    <div class="btn-login">
      <p>Experimente</p>
      <div class="round">
        <div id="cta">
          <a href="https://agrovalora.com.br/login" target="_blank" class="arrow primera next "></a>
          <a href="https://agrovalora.com.br/login" target="_blank" class="arrow segunda next "></a>
        </div>
      </div>
    </div>

    <div class="mouse_scroll" [ngClass]="{'fade-out': isScrolled, 'fade-in': !isScrolled}">
      <div class="mouse">
        <div class="wheel"></div>
      </div>
      <div>
        <span class="m_scroll_arrows unu"></span>
        <span class="m_scroll_arrows doi"></span>
        <span class="m_scroll_arrows trei"></span>
      </div>
    </div>
  </div>

    <div class="wrapper">
      <section class="section section--large">
        Part One
      </section>
      <section class="section section--dark section--small">
        Part Two
      </section>
      <section class="section section--small">
        Part Three
      </section>
      <section class="section section--large">
        Part Four
      </section>
    </div>

    <div class="center-marker"></div>

    <div class="test">
      oi sla cliente
    </div>

</div>
